@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', cursive;
}

h1 {
    font-size: 6rem;
}

.bg-custom-blk {
    background-color: black;
}